/* Write your CSS here */
.match-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0f172a;
  border-radius: 16px;
  padding: 12px 16px 12px 16px;
  margin-bottom: 25px;
  width: 49%;
}

@media screen and (min-width: 768px) {
  .match-card {
    width: 31%;
    padding: 25px;
    margin-bottom: 31px;
  }
}

.competing-team-logo {
  max-width: 62px;
  height: 41px;
}

@media screen and (min-width: 768px) {
  .competing-team-logo {
    max-width: 152px;
    height: 152px;
  }
}
.competing-team-name {
  font-family: 'Bree Serif';
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .competing-team-name {
    font-size: 25px;
  }
}

.result {
  font-family: 'Bree Serif';
  font-size: 11px;
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .result {
    font-size: 15px;
  }
}

.match-status {
  font-family: 'Bree Serif';
  font-size: 15px;
}

@media screen and (min-width: 768px) {
  .match-status {
    font-size: 25px;
  }
}

.match-won {
  color: #18ed66;
}

.match-lost {
  color: #e31a1a;
}
