/* Write your CSS here */
.link-item {
  text-decoration: none;
  width: 50%;
}

.team-card {
  display: flex;
  align-items: center;
  background-color: #ffffff33;
  border-radius: 12px;
  border: 1px solid #ffffff;
  padding: 12px 7px 12px 7px;
  margin-right: 25px;
  margin-bottom: 25px;
  width: 94%;
  height: 115px;
}

@media screen and (min-width: 768px) {
  .team-card {
    padding: 12px 24px 12px 24px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    width: 95%;
    height: 182px;
  }
}

.team-logo {
  width: 56px;
  height: 56px;
}

@media screen and (min-width: 768px) {
  .team-logo {
    width: 82px;
    height: 82px;
  }
}

@media screen and (min-width: 992px) {
  .team-logo {
    width: 152px;
    height: 152px;
  }
}

.team-name {
  font-family: 'Bree Serif';
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  margin-left: 3px;
}

@media screen and (min-width: 768px) {
  .team-name {
    margin-left: 15px;
    font-size: 30px;
  }
}
